.page-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    @media screen and (max-width: $bp-desktop) {
        flex-direction: column;
    }
    .container {
        width: 700px;
        height: fit-content;
        min-height: 500px;
        margin: 2rem 1rem;
        padding: 2rem;
        background: $container-bg;
        border-radius: $border-radius;
        @media screen and (max-width: $bp-desktop) {
            margin: 2rem auto;
        }
        @media screen and (max-width: $bp-tablet) {
            margin: 2rem;
            width: auto;
        }
        .title {
            width: 100%;
        }
        .created-by {
            text-align: center;
            margin: 0.5rem;
        }
        .github {
            margin: 0 auto;
            padding: 0rem 1rem;
            display: flex;
            border-radius: $border-radius;
            justify-content: center;
            background-color: $blue-code;
            width: fit-content;
            .github-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                img {
                    width: 32px;
                    height: auto;
                    margin-right: 1rem;
                }
                p {
                    letter-spacing: 0.3rem;
                }
            }
        }
        .main-form {
            display: flex;
            justify-content: center;
            margin: 3rem 0;
            @media screen and (max-width: $bp-tablet) {
                margin: 2rem 0;
            }
            .label {
                display: flex;
                justify-content: center;
                @media screen and (max-width: $bp-tablet) {
                    width: 100%;
                }
                .guessField {
                    padding: 1rem;
                    margin-right: 1rem;
                    font-size: 3rem;
                    border: 2px solid black;
                    border-radius: $border-radius;
                    width: 450px;
                    @media screen and (max-width: $bp-tablet) {
                        width: 300px;
                    }
                }
                .button {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    width: 100px;
                    background-color: greenyellow;
                    border-radius: 5px;
                    border: 2px solid black;
                    cursor: pointer;
                    transition: all 1s;
                    outline: none;
                    &.submitted {
                        background-color: rgb(194, 18, 18);
                        color: white;
                        animation: button-click 0.15s;
                        transition: 0s all;
                    }
                }
            }
        }
        .output-label {
            padding: 1rem;
            font-size: 1.3rem;
            border: 2px solid black;
            background-color: rgba(255, 255, 255, 0.8);
            border-bottom: none;
            border-radius: 5px 5px 0px 0px;
            width: fit-content;
        }
    }

    #output-list,
    #output-pairs,
    #output-reduced,
    #output-prime,
    #output-squared,
    #output-sqrt,
    #output-cbrt,
    #output-cubed {
        margin-top: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0px 5px 5px 5px;
        font-size: 2rem;
    }
}

.code {
    background-color: darkslategray;
    color: greenyellow;
    padding: 1rem;
    width: fit-content;
    width: 100%;
    border-radius: $border-radius;
    text-align: left;
    font-family: monospace, monospace;
    letter-spacing: 0.05rem;
    line-height: 1.5;
}

.red-code {
    color: $red-code;
}
.blue-code {
    color: $blue-code;
}
.white-code {
    color: $white-code;
}