* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0;
    background-color: #dee3de;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232a814f' fill-opacity='0.42'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
    margin: 2rem auto;
    text-align: center;
}

h3 {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes button-click {
    0% {
        transform: scale(1);}
    50% {
        transform: scale(1.1);}
    100% {
        transform: scale(1);
    }
}

.title {
    width: 100%;
}

.page-container {
    display: flex;
}

.container {
    width: 700px;
    height: fit-content;
    min-height: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.label {
    display: flex;
}

.guessField {
    padding: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100px;
    background-color: greenyellow;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    transition: all 1s;
    outline: none;
}

.output-label {
    padding: 1rem;
    font-size: 1.3rem;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    width: fit-content;
}

#output-list, #output-pairs, #output-reduced, #output-prime {
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0px 5px 5px 5px;
    font-size: 2rem;
}


.submitted {
    background-color: rgb(194, 18, 18);
    color: white;
    animation: button-click 0.15s;
    transition: 0s all;
}

.code {
    background-color: darkslategray;
    color: greenyellow;
    padding: 1rem;
    width: fit-content;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    font-family: monospace, monospace;
    letter-spacing: 0.05rem;
    line-height: 1.5;
}

.red-code {
    color: lightcoral;
}
.blue-code {
    color: lightblue;
}
.white-code {
    color: white;
}