// Border
$border-radius: 5px;

// Colors
$container-bg: rgba(255, 255, 255, 0.7);
$red-code: lightcoral;
$blue-code: lightblue;
$white-code: white;

// Animations
@keyframes button-click {
    0% {
        transform: scale(1);}
    50% {
        transform: scale(1.1);}
    100% {
        transform: scale(1);
    }
}
