// Border
$border-radius: 5px;

// Colors
$container-bg: rgba(255, 255, 255, 0.7);


// Breakpoints
$bp-desktop: 1200px;
$bp-tablet: 770px;
$bp-phone: 500px;
$bp-xs: 415px;

// Animations
@keyframes button-click {
    0% {
        transform: scale(1);}
    50% {
        transform: scale(1.1);}
    100% {
        transform: scale(1);
    }
}
